<div>
    <h4>Trello Commentor</h4>

    <p>System authentication has been mocked out. enter any string in the user id field. To force unauthorised for
        testing, prefix the user id with FAIL</p>
    <p>
        System user id: <input ng-model="userToken"><button ng-click="updateUser(userToken)">save</button>
    </p>

    <div ng-if="healthCheck===false" style="background-color:red">Can not connect to API</div>
    <div ng-if="healthCheck===true" style="background-color:greenyellow">API Connected</div>
    <div ng-if="userAuthed===false" style="background-color:red">User Id is not authorized</div>
    <div ng-if="userAuthed===true" style="background-color:greenyellow">User Id authorized</div>
    <div ng-if="userAuthed===true && trelloAuthed===false" style="background-color:yellow"><a href="{{authorizeUrl}}">Click here to connect to Trello</a></div>
    <div ng-if="userAuthed===true && trelloAuthed===true" style="background-color:greenyellow">Trello Connected</div>

    </div>

    <div ng-if="trelloAuthed===true && boards.length">
        <h5>Boards</h5>
        <ul ng-repeat="board in boards">
            <li ng-click="showCards(board)">{{board.name}}
                <ul ng-repeat="card in board.cards">
                    <li>{{card.name}} <button ng-click="comment(card)">Comment</button></li>
                </ul>
            </li>


        </ul>
    </div>

</div>
